body {
    font-family:sans-serif;
    background-color: rgb(227 227 227 / 93%);
    height: 100vh;
    margin: 0px;
    -webkit-font-smoothing: antialiased;
}


.container {
    width: 40%;
    height: auto;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.308);
    border-radius: 2px;
    animation: resume 1s ease-in-out;
    transition: .3s ease-in-out all;
    max-width: 600px;
}

.padding {
    padding: 3rem 5rem;
}

.tab {
    background-color: #d3d3d3;
    padding: 1rem 5rem;
}


hr {
    opacity: .5;
}

ul li {
    text-transform: capitalize
}

.flex {
    display: flex;
    align-items: center;
    height: 100%;
    flex-flow: column;
    justify-content: center;
}

.muted {
    opacity: .6;
}
.subheading {
    font-size: .7rem;
}
.subheading-2 {
    font-size: 1.2rem;
}
.uppercase {
    text-transform: uppercase;
}

.resume {
    animation: resume 1s ease-in-out;
}

@keyframes resume {
    0% {
        opacity: 0;
        transform: translateY(180px);
        
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.images {
    background-color: rgb(33, 33, 33);
    width: 100%;
    padding: 1rem;

}